h1,h3,h4,h5,h6 {
    
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: center;

}
h2{
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: left;

}

div {
	border:1px solid grey;
	margin-top:20px;
}


button{
font-family: "Comic Sans MS", cursive, sans-serif;

}
